 {
}

body {
  background-color: moccasin;
}

h1 {
  box-shadow: 10px 5px 5px 1px rgba(5, 5, 5, 5);
  background-color: green;
  display: flex;
  justify-content: flex-end;
  font-family: serif;
  font-weight: bold;
  font-size: 46px;
  padding: 10px;
  border-radius: 15px;
}

h2 {
  font-family: serif;
  font-weight: bold;
  font-size: 36px;
}

img {
  max-width: 220px;
  float: left;
  margin: 20px;
  margin-bottom: 0px;
  border-radius: 25px;
}

p {
  font-family: sans-serif;
  font-size: 32px;
}

.Block {
  margin: 50px; 
  margin-bottom: 100vh; 
  padding: 20px;
  background-color: yellowgreen;
  border-radius: 15px;
}

.
.Next {
  background-color: orange;
  color: black;
  border: 1px solid lightgray;
  max-width: 40px;
  max-height: 40px;
  margin: 10px; 
  padding: 20px;
  bottom: 10px;
}

.VimAd {
  background-color: gray;
  border: 1px solid lightgray;
  box-shadow: 5px 2px 2px 1px rgba(5, 5, 5, 5);
  padding: 5px;
}

.BlockExample {
	background-color: lightblue;
	color: black;
	margin: 5px;
	padding: 5px;
    border: 1px solid red !important;
	display: flex;
}

div.BlockExample p{
	margin: 5px;
	padding: 10px;
    border: 1px solid red !important;
}

.InlineExample {
	color: red;
	text-decoration: underline;
}

.h1_style_example {
	  font-family: sans-serif;
	  font-weight: lighter;
	  font-size: 12px;
	  color: red;
}
  

.ExampleFrame {
	display: flex;
	justify-content: space-evenly;
	max-width: 75vw;
}
.FlowExample {
	min-width: 100px;
	max-width: 100px;
	min-height: 100px;
	max-height: 100px;
	margin: 25px;
	padding: 5px;
	border: 1px solid red !important;
	background-color: white;
	display: flex;
}

.FlowExample2 {
	min-width: 25px;
	max-height: 25px;
	margin: 5px;
	padding: 5px;
	border: 1px solid red !important;
	background-color: gray;
}

.FlowExample3 {
	min-width: 100px;
	max-width: 100px;
	min-height: 100px;
	max-height: 100px;
	margin: 25px;
	padding: 5px;
	border: 1px solid red !important;
	background-color: white;
	display: flex;
	flex-flow: row wrap;
}

.BoxModelMargin {
	background-color: white;
	border-style: dotted;
	border-color: red;
	margin: 10px auto;
	padding: 10px;
	max-width: 450px;
}

.BoxModelMargin2 {
	background-color: white;
	border-style: dotted;
	border-color: red;
	margin: 20px auto;
	padding: 10px;
	max-width: 450px;
}

.BoxModelBorder {
	background-color: black;
	color: white;
	padding: 20px;
	margin: 10px;
}

.BoxModelBorder2 {
	background-color: white;
	color: black;
	padding: 20px;
	margin: 10px;
	border: 1px solid black;
}

.BoxModelBorder3 {
	background-color: white;
	color: black;
	padding: 20px;
	margin: 10px;
	border: 5px dashed red;
}

.BoxModelBorder4 {
	background-color: white;
	color: black;
	padding: 20px;
	margin: 10px;
	border-top: 42px dotted red;
	border-radius: 100px;
}

.BoxModelBorder5 {
	background-color: white;
	color: black;
	padding: 20px;
	margin: 10px;
	border: 1px solid black;
	border-radius: 100px;
}


.BoxModelPadding {
	background-color: white;
	color: black;
	padding: 20px;
	margin: 10px;
}

.BoxModelPadding2 {
	background-color: white;
	color: black;
	padding: 100px;
	margin: 10px;
}



.BoxModelContent {
	background-color: white;
	color: black;
	border-style: dashed;
	padding: 20px;
	margin: 10px;
}

.Hoverable:hover {
	background-color: red;
}

.Distorted {
	float: none;
	width: 200px;
	height: 200px;
}

.NotDistorted {
	float: none;
	width: 200px;
}

.NotDistorted2 {
	float: none;
	max-width: 500px;
	width: 500px;
}
